.transactions-table {
  margin: 0 auto 4rem;

  thead,
  tbody,
  tfoot {
    > tr {
      > td:first-child,
      > th:first-child {
        text-align: left;
        width: auto;
      }

      td,
      th {
        text-align: right;
        width: 9rem;
      }
    }
  }
}
